:root {
    --primary-color: #bb0a21;
    --secondary-color: #dc851f;
    --black: #1e1e24;
    --white: #fffcf9;
  
    /* fonts */
    --font-body: 'Roboto', 'Open Sans', Arial, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --font-heading: 'Nanum Gothic', 'open sans', "Arial Narrow Bold", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* font sizes */
    --body-size: 1.15rem;
}
.awesome-form{
	width: 60%;
    background: transparent;
    outline: none;
    border: 0;
    border-bottom: 1px solid var(--white);
    justify-content: center;
}
button{
	width: 30%;
	height: 40px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	color: var(--black);
	background: var(--white);
	font-size: 1em;
	font-weight: bold;
	margin-top: 20px;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
}
 .navbar{
float: right;
}
.navbar ul{
    list-style-type: none;
}

.navbar-link, .navbar-link-btn{
    color: var(--white);
    text-decoration: none;
    margin-left: 40px;
}

.navbar-link:hover, .navbar-link:active{
    color: #b1b1b1;
}

.navbar li {
    display: inline-block;
    padding-top: 16px;
    padding-bottom: 16px;
  }
button:hover{
	background: #6d44b8;
}
  /* for footer */
  .footer{
      /* background-color: var(--primary-color); */
      border-top: 2px solid var(--primary-color);
      margin-top: auto;
      padding-bottom: .75em;
      padding-top: .75em;
  } */

